body {
    font-family: "Times New Roman";
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px 70px;
    border: 2px solid rgb(204, 204, 204);
    background-color: #fff;
}

header {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 37px;
}

header h2 {
    color: #006EB6;
    margin: 10px 0;
    font-size: 15px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 50px;
}

main {
    text-align: left;
}

main h2 {
    text-align: left;
    margin: 18px 0;
    font-size: 20px;
    font-style: italic;
}

ol.list-elements {
    margin: 20px 0;
    padding-left: 20px;
    margin-bottom: 30px;
    padding-top: 0px;
}

ol.list-elements li {
    margin-bottom: 15px;
}

footer .logo {
    width: 150px;
    height: auto;
    margin: 20px 0;
}

body, header h2, header h1, main h2 {
    font-weight: normal;
}

body {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #333 !important;
    color: white;
}

body.dark .container {
    background-color: #444 !important;
    color: white;
}

.dark h2 {
    color: #006EB6;
}

.dark .logo {
    content: url('byui-logo_white.png'); 
}
